@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.steps-sect {
  padding-top: 50px;
  padding-bottom: 50px - 35px;
  &__title {
    margin: 0 0 30px;
    font: bold 20px/150% Montserrat;
    letter-spacing: 0.02em;
  }

  &__steps {}
}

.step {
  margin: 0 0 35px;
  &__title {
    margin: 0 0 20px;
    display: block;
    width: 100%;
    font-size: 18px;
    color: $green;
  }

  &__descr {

  }
}