@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.offer-sect {
  &__title {
    margin: 0 0 40px;
  }

  // &__wrap {}

  &__img {
    width: 570px;
    height: 416px;
    align-self: center;
  }

  &__list {
    align-self: center;
  }

  &__li {
    &::before {}

    &:nth-last-child(n+2) {
      margin: 0 0 60px;
    }
  }
}