@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr__burger {
  display: inline-flex;
  transition: opacity .15s linear;
  background: 0 0;
  border: 0;
  overflow: visible;
  transition: transform .5s;
  z-index: 3;
  font-size: 7.145px; // Для контроля размеров
  &-box {
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 20px;
    // width: 4.2em;
    // height: 2.835em;
    position: relative;
    pointer-events: none;
  }

  &-inner {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 8.625px;
    background: $green;
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
    border-radius: 3px;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      // background: $burgerColor;
      background: inherit;
      border-radius: inherit;
    }

    &::after {
      bottom: -1em; // 6px
      transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::before {
      top: -.98em; // 6px
      background: inherit;
      transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.active {
    .hdr__burger-inner {
      transform: rotate(90deg);
      background-color: transparent !important;
      transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;

      &::before {
        background: $white;
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        background: $white;
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu {
  width: 100%;
  height: 105%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__cnt {
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 82%;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    padding: 10px 30px 7.05vh 20px; // 40px на width: 320px;
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    font: 14px/100% Montserrat;
  }

  &__logo {
    &-img {
      width: 120px;
    }
  }

  &__nav {
    margin: 40px 0 auto;
    padding: 30px 0;
    // color: $lightblue;
  }

  &__nav-list {}

  &__nav-li {
    &:nth-last-child(n+2) {
      margin: 0 0 7vh;
    }
  }

  &__tel {
    margin: 0 0 20px;
  }

  &__callback {
    width: 190px;
    height: 40px;
  }

}