@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.menu {
  &.active {
  }

  &__cnt {
    padding-top: 20px;
   max-width: 450px;
  }

  &__logo {
    &-img {
      width: 230px;
    }
  }

  &__nav {
  }

  &__nav-list {}

  &__nav-li {
    &:nth-last-child(n+2) {
    }
  }

  &__tel {
  }

  &__callback {
  }

}