@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.hero-sect {
  &__text {
  }
  &__title {
  }
  &__subtitle {
    margin: 0 0 35px;
  }
  &__btn {
  }
  &__features {
  }
}

.feat {
  &:nth-last-child(n+2) {
  }
  &__icon {
    margin: 0 35px 0 0;
    width: 60px;
    height: 60px;
  }
  &__text {
  }
}
