@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.cases-sect {
  &__title {}

  &__cases {
    .slick-slide {
      width: 1160px;
    }
  }
}

.case {
  width: 375px;

  &__images {}

  &__link {}

  &__img {}

  &__title {}

  &__arrow {}

  &__arrow-img {}
}

.case-popup {
  &__cnt {
    padding: 50px 40px 45px;
    width: 1085px;
    grid-template-columns: 630px 40px auto;
  }

  &__close {}

  &__close-svg {}

  &__close-path {}

  &__title {
    grid-column: 3;
  }

  &__area {
    grid-column: 3;
  }

  &__images {
    margin: 0 0 15px 0;
    grid-row: 1/span 3;

    .slick-list {}

    &-img {
      height: 435px;
    }
  }

  &__images-nav {
    grid-row: 4;

    .slick-list {}

    .slick-track {}

    &-img {
      margin-right: 15px;
      width: 114px;
      height: 100px;

      &:nth-child(6n) {
        margin-left: 15px;
      }
    }
  }

  &__text {
    margin: 0;
    grid-row: 3/span 2;
  }

  &__p {
    &:nth-last-child(n+2) {}
  }
}