@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.cases-sect {
  padding-top: 50px;
  padding-bottom: 15px;

  &__heading {
    // margin: 0 0 30px;
  }

  &__title {
    margin: 0 0 30px;
    font: bold 20px/160% Montserrat;
    letter-spacing: 0.02em;
  }

  &__cases {
    transition: max-height .5s;
    overflow: hidden;
  }

  &__more-btn {
    margin: 0 auto 35px;
    width: 190px;
    height: 40px;

    &[hidden] {
      display: none;
    }
  }
}

.case__link,
.cases-sect__arrows {
  display: none;
}

.case {
  margin: 0 0 35px;

  &:nth-last-child(n+2) {
    // margin: 0 0 35px;
  }

  &__images {
    margin: 0 0 15px;
    display: flex;
    overflow: hidden;
  }

  &__link {
    flex-shrink: 0;
    width: 100%;

    &:first-child {
      display: block;
    }
  }

  &__img {
    min-width: 100%;
    min-height: responsive('320->575', '161->307');
    object-fit: cover;
    pointer-events: none;
  }

  &__text {
    display: flex;
    align-items: flex-start;
    pointer-events: none;
  }

  &__title {
    padding-right: 5px;
    font: 16px/150% Montserrat;

    &-sup {
      margin-top: -6px;
      display: inline-block;
    }
  }

  &__arrow {
    margin: 0 0 0 auto;
  }

  &__arrow-img {
    width: 20px;
    height: 8px;
    object-fit: contain;
  }
}


.case-popup {
  &__cnt {
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: $white;
  }

  &__close {
    margin: -10px -10px 15px auto;
    padding: 2.5px;
    display: flex;
    color: $grey;
    opacity: 0.7;
    transform: scale(.8);
    transition: color .5s;
  }

  &__close-svg {
    width: 19px;
    height: 19px;
    fill: none;
    overflow: visible;
    pointer-events: none;
  }

  &__close-path {
    stroke: currentColor;
    // stroke-linejoin: round;
    stroke-width: 4;
    // stroke-linecap: round;
  }

  &__title {
    align-self: flex-start;
    font: bold 20px/160% Montserrat;
  }

  &__area {
    align-self: flex-start;
    font: 500 14px/150% Montserrat;
    color: $green;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: $white;
    background: rgba(0, 0, 0, .35)
  }

  &__prev {
    left: 0;

    >.arrow__svg {}
  }

  &__next {
    right: 0;
  }

  &__images {
    margin: 20px 0 5px;
    width: 100%;
    position: relative;

    // height: 138px;
    .slick-list {
      overflow: hidden;
    }

    .slick-track {
      display: flex;
      align-items: flex-start;
    }

    &-img {
      min-height: 138px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__images-nav {
    width: 100%;
    margin: 0 0 40px;

    .slick-list {
      overflow: hidden;
    }

    .slick-track {
      display: flex;
      align-items: flex-start;
      // margin-left: -2.5px;
    }

    .slick-dots {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      >li {
        font-size: 0;
        width: 10px;
        height: 10px;

        &.slick-active {
          opacity: 0.5;
          pointer-events: none;
        }

        &:nth-last-child(n+2) {
          margin-right: 10px;
        }

        >button {
          width: 100%;
          height: 100%;
          background: $green;

          &:hover {}
        }
      }
    }

    &-img {
      margin-right: 5px;
      width: responsive('320->575', '44->95');
      height: responsive('320->575', '30->55');
      // width: responsive('320->575', '59->110');
      // padding-right: 15px;
      // min-height: 30px;
      object-fit: cover;
      transition: filter .5s;

      &.current {
        filter: brightness(0.4);
        pointer-events: none;
      }

      &:nth-child(5n),
      &:last-child {
        margin-right: 0;
      }

      &:nth-child(6n) {
        margin-left: 5px;
      }
    }
  }

  &__text {}

  &__p {
    &:nth-last-child(n+2) {
      margin: 0 0 20px;
    }
  }
}