
@import '../assets/colors';
@import '../assets/mixins';
@import '../assets/variables';

.popup {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparentize($green, .5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  overflow: auto;
  z-index: 5;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__cnt {
    background-color: #fff;
    color: #000;
  }

  &__close {
    margin: -10px -10px 0 auto;
    padding: 2.5px;
    display: block;
    width: 20px;
    height: 20px;
    color: #d5d4d0;
    transition: color .5s;
    &-svg {
      pointer-events: none;
      overflow: visible;
    }

    &-block {}
  }

  &__title {}

  &__descr {}
}