@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.design-sect {
  padding-top: 70px;
  padding-bottom: 70px;
  &.has-decor-text {
    &::before {
      left: calc(50vw - 490px);
      bottom: 55px;
    }
  }

  &__title {
    max-width: 275px;
  }

  &__items {
    max-width: 555px;
  }

  &__rows {
    max-width: 555px;
  }
}

.design-sect__item {
  &:nth-last-child(n+2) {}
  &-icon {}

  &-descr {}
}

.design-sect__row {
  &:nth-last-child(n+2) {}
  &-left {}

  &-center {}

  &-right {}
}